__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.swp
.venv/
env/
venv/
data/
output/
.env
*.ipynb_checkpoints
*.DS_Store
*.log
/.idea/
/.vscode/
.pdm-python
.pdm-build/
.ruff_cache/
.streamlit/secrets.toml
